In [1]:
### Soru 1:

## Bu dersimizde görmediğimiz fakat çok yaygın olarak kullanılan çizge türlerinden birisi de çubuk grafikleri (bar plot)'dir. 
## Çubuk grafikleri özellikle, kategorik (yani sınırlı sayıda farklı değer içeren) değişkenleri incelemek için yararlı araçlardır. 
## Bu ödevde, kategorik bir değişken içeren bir veri kümesi bulmanız gerekecek. 
## Bunun için Kaggle sitesindeki veri setlerine bir göz atabilirsiniz. 
## Daha sonra, bulduğunuz veri kümesini Pandas'ı kullanarak bir veri çerçevesine aktarın. 
## Veri kümenizde yer alan kategorik değişkenlerden iki tanesini seçin ve subplot kullanarak, bu iki değişkenin çubuk grafiklerini çıkarın. 
## Bulgularınızı mentörünüzle tartışmayı unutmayın!

In [59]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
df = pd.read_csv('Ulke_Bilgileri.csv')
df

,Unnamed: 0,Ulke,Nufus,Yasam Suresi,Toplam Gelir,Kita,Kisi_Basi_Gelir,Yil
0,FR,Fransa,61083916,80.657,2.660000e+12,Avrupa,43501,2007
1,GE,Almanya,82400996,79.406,3.440000e+12,Avrupa,41746,2007
2,US,ABD,301139947,78.242,1.450000e+13,Amerika,48076,2007

In [55]:
covid
covid[covid['Last_Update'] >'2020-04-25']

               Country/Region  Confirmed  Deaths  Recovered Last_Update
Province/State
NaN                    Turkey          1       0          0   3/11/2020
NaN                    Turkey          1       0          0   3/12/2020
NaN                    Turkey          5       0          0   3/13/2020
NaN                    Turkey          5       0          0   3/14/2020
NaN                    Turkey         18       0          0   3/15/2020
NaN                    Turkey         47       0          0   3/16/2020
NaN                    Turkey         98       1          0   3/17/2020
NaN                    Turkey        191       2          0   3/18/2020
NaN                    Turkey        359       4          0   3/19/2020
NaN                    Turkey        670       9          0   3/20/2020
NaN                    Turkey        947      21          0   3/21/2020
NaN                    Turkey       1236      30          0   3/22/2020
NaN                    Turkey       1529      37          0   3/23/2020
NaN                    Turkey       1872      44          0   3/24/2020
NaN                    Turkey       2433      59         26   3/25/2020
NaN                    Turkey       3629      75         26   3/26/2020
NaN                    Turkey       5698      92         42   3/27/2020
NaN                    Turkey       7402     108         70   3/28/2020
NaN                    Turkey       9217     131        105   3/29/2020
NaN                    Turkey      10827     168        162   3/30/2020
NaN                    Turkey      13531     214        243   3/31/2020
NaN                    Turkey      15679     277        333    4/1/2020
NaN                    Turkey      18135     356        415    4/2/2020
NaN                    Turkey      20921     425        484    4/3/2020
NaN                    Turkey      23934     501        786    4/4/2020
NaN                    Turkey      27069     574       1042    4/5/2020
NaN                    Turkey      30217     649       1326    4/6/2020
NaN                    Turkey      34109     725       1582    4/7/2020
NaN                    Turkey      38226     812       1846    4/8/2020
NaN                    Turkey      42282     908       2142    4/9/2020
NaN                    Turkey      47029    1006       2423   4/10/2020
NaN                    Turkey      52167    1101       2965   4/11/2020
NaN                    Turkey      56956    1198       3446   4/12/2020
NaN                    Turkey      61049    1296       3957   4/13/2020
NaN                    Turkey      65111    1403       4799   4/14/2020
NaN                    Turkey      69392    1518       5674   4/15/2020
NaN                    Turkey      74193    1643       7089   4/16/2020
NaN                    Turkey      78546    1769       8631   4/17/2020
NaN                    Turkey      82329    1890      10453   4/18/2020
NaN                    Turkey      86306    2017      11976   4/19/2020
NaN                    Turkey      90980    2140      13430   4/20/2020
NaN                    Turkey      95591    2259      14918   4/21/2020
NaN                    Turkey      98674    2376      16477   4/22/2020
NaN                    Turkey     101790    2491      18491   4/23/2020
NaN                    Turkey     104912    2600      21737   4/24/2020
NaN                    Turkey     107773    2706      25582   4/25/2020

In [58]:
last_date = "24/04/2020"
covid[covid["Last_Update"]>last_date]

               Country/Region  Confirmed  Deaths  Recovered Last_Update
Province/State
NaN                    Turkey          1       0          0   3/11/2020
NaN                    Turkey          1       0          0   3/12/2020
NaN                    Turkey          5       0          0   3/13/2020
NaN                    Turkey          5       0          0   3/14/2020
NaN                    Turkey         18       0          0   3/15/2020
NaN                    Turkey         47       0          0   3/16/2020
NaN                    Turkey         98       1          0   3/17/2020
NaN                    Turkey        191       2          0   3/18/2020
NaN                    Turkey        359       4          0   3/19/2020
NaN                    Turkey        670       9          0   3/20/2020
NaN                    Turkey        947      21          0   3/21/2020
NaN                    Turkey       1236      30          0   3/22/2020
NaN                    Turkey       1529      37          0   3/23/2020
NaN                    Turkey       1872      44          0   3/24/2020
NaN                    Turkey       2433      59         26   3/25/2020
NaN                    Turkey       3629      75         26   3/26/2020
NaN                    Turkey       5698      92         42   3/27/2020
NaN                    Turkey       7402     108         70   3/28/2020
NaN                    Turkey       9217     131        105   3/29/2020
NaN                    Turkey      10827     168        162   3/30/2020
NaN                    Turkey      13531     214        243   3/31/2020
NaN                    Turkey      15679     277        333    4/1/2020
NaN                    Turkey      18135     356        415    4/2/2020
NaN                    Turkey      20921     425        484    4/3/2020
NaN                    Turkey      23934     501        786    4/4/2020
NaN                    Turkey      27069     574       1042    4/5/2020
NaN                    Turkey      30217     649       1326    4/6/2020
NaN                    Turkey      34109     725       1582    4/7/2020
NaN                    Turkey      38226     812       1846    4/8/2020
NaN                    Turkey      42282     908       2142    4/9/2020
NaN                    Turkey      47029    1006       2423   4/10/2020
NaN                    Turkey      52167    1101       2965   4/11/2020
NaN                    Turkey      56956    1198       3446   4/12/2020
NaN                    Turkey      61049    1296       3957   4/13/2020
NaN                    Turkey      65111    1403       4799   4/14/2020
NaN                    Turkey      69392    1518       5674   4/15/2020
NaN                    Turkey      74193    1643       7089   4/16/2020
NaN                    Turkey      78546    1769       8631   4/17/2020
NaN                    Turkey      82329    1890      10453   4/18/2020
NaN                    Turkey      86306    2017      11976   4/19/2020
NaN                    Turkey      90980    2140      13430   4/20/2020
NaN                    Turkey      95591    2259      14918   4/21/2020
NaN                    Turkey      98674    2376      16477   4/22/2020
NaN                    Turkey     101790    2491      18491   4/23/2020
NaN                    Turkey     104912    2600      21737   4/24/2020
NaN                    Turkey     107773    2706      25582   4/25/2020