In [1]:
### Soru 1:
## Endeksi alfabenin ilk 10 harfi olan ve ilk 10 asal sayıyı ve ilk 10 fibonacci sayısını içeren bir veri çerçevesi oluşturun.

In [17]:
import numpy as np
import pandas as pd

In [12]:
asal=[]
for x in range(1,29):
    count=0
    if x<=2:
        asal.append(x)
    elif x%2!=0:
        for y in range(2,x//2):
            if (x%y)==0:
                count+=1
        if count==0:
            asal.append(x)

In [14]:
fibo=[]
x1=1
x2=1
fibo.append(x1)
while x2<56:
    fibo.append(x2)
    x1,x2 = x2, x1+x2

In [20]:
df = pd.DataFrame()
df['Asal'] = asal
df['Fibo'] = fibo
df.index=["a","b","c","d","e","f","g","h","i","j"]
df

   Asal  Fibo
a     1     1
b     2     1
c     3     2
d     5     3
e     7     5
f    11     8
g    13    13
h    17    21
i    19    34
j    23    55

In [21]:
### Soru 2 :
## Kaggle'dan Titanic: Machine Learning from Disaster isimli yarışmanın train.csv isimli dosyasını indirin ve Pandas veri çerçevelerini kullanarak tüm veriyi yükleyin. 
## Veri çerçevelerinin .groupby() metodunu kullanarak yolcuların ortalama yaşlarını herbir cinsiyet için ayrı olacak şekilde hesaplayın.

In [23]:
titanic = pd.read_csv('train.csv')
titanic.groupby(by='Sex').mean()['Age']

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [24]:
### Soru 3 :
## Koşullu seçim yöntemlerini de kullanarak, 30 yaşından küçük tüm yolcuların kurtulma oranını (survival ratio) hesaplayın. 
## Daha sonra, kurtulma oranını cinsiyete göre ayrı ayrı hesaplayın.

In [52]:
kurtulan=titanic.loc[lambda df: (titanic['Age'] <30) & (titanic["Survived"]==1)]
kurtulma_orani=len(kurtulan)/len(titanic)
kurtulma_orani

0.1750841750841751

In [53]:
kurtulan.groupby(by="Sex").sum()["Survived"]

Sex
female    105
male       51
Name: Survived, dtype: int64